[Desktop Entry]
Version=1.0
Type=Application
Name=Pale Moon
Comment=Доступ в Интернет
Exec=/opt/palemoon/palemoon %u
Icon=mozicon128
Path=
Terminal=false
StartupNotify=false
Categories=Network; WebBrowser;
